Repository TasleemAhmad924/baumhelden, changes with the owners that .github/CODEOWNERS names for each.
All owners: @owner-username, @frontend-team, @backend-team, @devops-team, @documentation-team

Fix React Hook errors and update to Next.js 15.4.6
  .eslintrc.json
  eslint.config.mjs
  next.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Owners: @devops-team

feat: erste Version vom Baumhelden Onepager
  README.md
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/About.tsx
  components/GalleryContact.tsx
  components/GlassCard.tsx
  components/Header.tsx
  components/Hero.tsx
  components/Services.tsx
  tailwind.config.ts
Owners: @documentation-team, @frontend-team, @devops-team

feat(hero): Hintergrundbild geändert und abgedunkelt für stylischen Look
  components/Hero.tsx
Owners: @frontend-team

Change Node version to 18.20.8 in workflow
  .github/workflows/baumhelden-build.yaml
Owners: @devops-team

feat: erweitere Build-Skript um Export-Option für Zielverzeichnis
  package.json
Owners: @devops-team

feat: aktualisiere Build-Konfiguration für statischen Export und Zielverzeichnis
  .github/workflows/baumhelden-build.yaml
  next.config.mjs
  package.json
Owners: @devops-team

fix: comma
  package.json
Owners: @devops-team

feat: add /target to .gitignore
  .gitignore
Owners: @owner-username

#6 feat: add backgroundimage extend gitignore
  .gitignore
  components/Hero.tsx
  public/chainsaw-image-background.jpg
Owners: @owner-username, @frontend-team

Update contact info and about section
  components/About.tsx
  components/GalleryContact.tsx
Owners: @frontend-team

feat: add ContactForm component to the homepage
  app/page.tsx
  components/forms/contactForm.tsx
Owners: @frontend-team

comment out map pin
  components/GalleryContact.tsx
Owners: @frontend-team

refactor: enhance type safety in ContactForm submission handling
  components/forms/contactForm.tsx
Owners: @frontend-team

fix: update textarea rows attribute to use curly braces for consistency
  components/forms/contactForm.tsx
Owners: @frontend-team

style: enhance styling and structure of ContactForm component
  components/forms/contactForm.tsx
Owners: @frontend-team

fix: correct import path casing for ContactForm component
  app/page.tsx
Owners: @frontend-team

fix: correct import path casing for ContactForm component and improve formatting in ContactForm
  app/page.tsx
  components/forms/contactForm.tsx
Owners: @frontend-team

feat: mvp form
  app/page.tsx
  components/forms/contactForm.tsx
Owners: @frontend-team

fix: resolve merge and unify design
  app/page.tsx
  components.json
  components/About.tsx
  components/GalleryContact.tsx
  components/Header.tsx
  components/Hero.tsx
  components/HydrationBoundary.tsx
  components/Services.tsx
  components/ui/bento-grid.tsx
  components/ui/footer-section.tsx
  package-lock.json
  package.json
  target/cache/webpack/client-development/0.pack.gz
  target/cache/webpack/client-development/1.pack.gz
  target/cache/webpack/client-development/2.pack.gz
  target/cache/webpack/client-development/3.pack.gz
  target/cache/webpack/client-development/4.pack.gz
  target/cache/webpack/client-development/5.pack.gz
  target/cache/webpack/client-development/index.pack.gz
  target/cache/webpack/client-development/index.pack.gz.old
  target/cache/webpack/server-development/0.pack.gz
  target/cache/webpack/server-development/1.pack.gz
  target/cache/webpack/server-development/2.pack.gz
  target/cache/webpack/server-development/3.pack.gz
  target/cache/webpack/server-development/index.pack.gz
  target/cache/webpack/server-development/index.pack.gz.old
  target/prerender-manifest.json
  target/server/app/page.js
  target/server/vendor-chunks/lucide-react.js
  target/server/webpack-runtime.js
  target/static/chunks/app/layout.js
  target/static/chunks/app/page.js
  target/static/chunks/webpack.js
  target/static/css/app/layout.css
  target/trace
Owners: @frontend-team, @devops-team, @owner-username

fix: add Footer export and restore ui/demo module
  components/ui/demo.tsx
Owners: @frontend-team

fix: remove tooltip import to resolve module-not-found
  components/ui/footer-section.tsx
Owners: @frontend-team

refactor: inline footer, remove ui/demo wrapper
  app/page.tsx
  components/ui/demo.tsx
Owners: @frontend-team

chore: set navbar logo to BH_BW.svg, enlarge footer BH_LSW.svg
  components/Header.tsx
  components/ui/footer-section.tsx
Owners: @frontend-team

feat: add contact form toggle and integrate TreeContactForm component
  components/GalleryContact.tsx
Owners: @frontend-team

feat: refactor Services component with modern expandable card grid
  components/Services.tsx
  public/Baumfällen.jpg
  public/Baumpflege.jpg
  public/Wurzelentfernung.jpg
Owners: @frontend-team, @owner-username

Update services and contact info
  app/page.tsx
  components/About.tsx
  components/CookieBanner.tsx
  components/GalleryContact.tsx
  components/Header.tsx
  components/Services.tsx
  components/WhatsAppButton.tsx
  components/ui/footer-section.tsx
  public/Sturmschaeden.jpg
  public/baum_entsorgung.jpg
  target/app-build-manifest.json
  target/cache/webpack/client-development/0.pack.gz
  target/cache/webpack/client-development/1.pack.gz
  target/cache/webpack/client-development/2.pack.gz
  target/cache/webpack/client-development/3.pack.gz
  target/cache/webpack/client-development/4.pack.gz
  target/cache/webpack/client-development/5.pack.gz
  target/cache/webpack/client-development/index.pack.gz
  target/cache/webpack/client-development/index.pack.gz.old
  target/cache/webpack/server-development/0.pack.gz
  target/cache/webpack/server-development/1.pack.gz
  target/cache/webpack/server-development/2.pack.gz
  target/cache/webpack/server-development/3.pack.gz
  target/cache/webpack/server-development/index.pack.gz
  target/cache/webpack/server-development/index.pack.gz.old
  target/prerender-manifest.json
  target/server/app-paths-manifest.json
  target/server/app/page.js
  target/server/app/page_client-reference-manifest.js
  target/server/vendor-chunks/lucide-react.js
  target/server/webpack-runtime.js
  target/static/chunks/app/layout.js
  target/static/chunks/app/page.js
  target/static/chunks/webpack.js
  target/static/css/app/layout.css
  target/trace
Owners: @frontend-team, @owner-username, @devops-team

Improve hero section text readability with overlay and styling
  components/Hero.tsx
  target/cache/webpack/client-development/2.pack.gz
  target/cache/webpack/client-development/3.pack.gz
  target/cache/webpack/client-development/5.pack.gz
  target/cache/webpack/client-development/index.pack.gz
  target/cache/webpack/client-development/index.pack.gz.old
  target/cache/webpack/server-development/0.pack.gz
  target/cache/webpack/server-development/2.pack.gz
  target/cache/webpack/server-development/3.pack.gz
  target/cache/webpack/server-development/index.pack.gz
  target/cache/webpack/server-development/index.pack.gz.old
  target/prerender-manifest.json
  target/server/app-paths-manifest.json
  target/server/app/page.js
  target/server/webpack-runtime.js
  target/static/chunks/app/layout.js
  target/static/chunks/app/page.js
  target/static/chunks/webpack.js
  target/static/css/app/layout.css
  target/trace
Owners: @frontend-team, @owner-username, @devops-team

Fix mobile navbar overlap with hero section
  components/Hero.tsx
Owners: @frontend-team

Fix mobile navbar overlap with robust spacing solution
  app/imprint/page.tsx
  app/page.tsx
  app/privacy-policy/page.tsx
  app/terms/page.tsx
  components/Hero.tsx
Owners: @frontend-team

Make navbar transparent and overlay hero background seamlessly
  app/page.tsx
  components/Header.tsx
  components/Hero.tsx
Owners: @frontend-team

Revert navbar to original glass design and fix white gap
  app/page.tsx
  components/Header.tsx
  components/Hero.tsx
Owners: @frontend-team

Fix white bar under navbar by extending hero background behind navbar
  app/page.tsx
  components/Hero.tsx
Owners: @frontend-team

Fix navbar-hero overlap issue permanently
  app/page.tsx
  components/Hero.tsx
  components/Services.tsx
Owners: @frontend-team

feat: Update contact form steps and labels for improved clarity and functionality
  components/forms/contactForm.tsx
  components/layout/footer.tsx
Owners: @frontend-team

feat: Add Favicon
  public/favicon.svg
Owners: @owner-username

chore: rename
  components/layout/footer.tsx
Owners: @frontend-team

feat: Enhance contact form by adding phone field and improving layout responsiveness
  components/forms/contactForm.tsx
Owners: @frontend-team

refactor: Simplify contact form code and improve layout consistency
  components/forms/contactForm.tsx
Owners: @frontend-team

refactor: Improve GalleryContact component structure and functionality
  components/GalleryContact.tsx
Owners: @frontend-team

Add Rechtsform information to imprint page
  app/imprint/page.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Global code owners
* @owner-username

# Specific areas
/app/ @frontend-team
/components/ @frontend-team
/lib/ @backend-team
/.github/ @devops-team

# Configuration files
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team
*.config.* @devops-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Environment and deployment
.env* @devops-team
Dockerfile* @devops-team
docker-compose* @devops-team
