Repository TasleemAhmad924/baumhelden, changes with the owners that .github/CODEOWNERS names for each.
All owners: @owner-username, @frontend-team, @backend-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# Global code owners
* @owner-username

# Specific areas
/app/ @frontend-team
/components/ @frontend-team
/lib/ @backend-team
/.github/ @devops-team

# Configuration files
*.json @devops-team
*.yml @devops-team
*.yaml @devops-team
*.config.* @devops-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Environment and deployment
.env* @devops-team
Dockerfile* @devops-team
docker-compose* @devops-team

refactor: Clean up GalleryContact component and improve button functionality
  components/GalleryContact.tsx
Owners: @frontend-team

refactor: Correct spelling of 'baumbiegung' in contact form and improve code formatting
  components/forms/contactForm.tsx
Owners: @frontend-team

refactor: Update Web3FormsPayload type for improved clarity and consistency in contact form data
  components/forms/contactForm.tsx
Owners: @frontend-team

fix: Correct spelling of 'Baumbiegung' in contact form steps
  components/forms/contactForm.tsx
Owners: @frontend-team

Migrate to German routes: /datenschutz, /impressum
  app/datenschutz/page.tsx
  app/impressum/page.tsx
  components/CookieBanner.tsx
  components/SEOHead.tsx
  components/ui/footer-section.tsx
  lib/schema.ts
  public/robots.txt
  public/sitemap.xml
Owners: @frontend-team, @backend-team, @owner-username

Fix sitemap.xml to follow official XML Sitemap protocol
  public/sitemap.xml
Owners: @owner-username

Update UI text and mobile logo sizing
  components/Hero.tsx
  components/forms/contactForm.tsx
Owners: @frontend-team

Enable maintenance mode view
  .env.production
  .nvmrc
  app/layout.tsx
  components/Maintenance.tsx
  package-lock.json
  package.json
  tsconfig.json
Owners: @devops-team, @owner-username, @frontend-team

Update Node.js version to 20.9.0 in CI workflow
  .github/workflows/ci.yml
Owners: @devops-team

Update Node.js version in build workflow
  .github/workflows/baumhelden-build.yaml
Owners: @devops-team

Fix node-version formatting in CI workflow
  .github/workflows/ci.yml
Owners: @devops-team

Use Node.js version from .nvmrc in CI workflow
  .github/workflows/ci.yml
Owners: @devops-team

Make lint run from project root
  package.json
Owners: @devops-team

Force maintenance mode in IONOS build
  .github/workflows/baumhelden-build.yaml
Owners: @devops-team

chore: disable maintenance mode, update packages, fix Next.js 16 compat
  .env.production
  components/ui/footer-section.tsx
  next.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Owners: @devops-team, @frontend-team

fix: completely remove maintenance mode
  .env.production
  app/layout.tsx
  components/Maintenance.tsx
Owners: @devops-team, @frontend-team

feat: add Baumpflege service card, refine grid layout, update certifications
  components/About.tsx
  components/Services.tsx
  components/ui/footer-section.tsx
  public/tree-maintenance.jpg
Owners: @frontend-team, @owner-username
